{{#if icon}}
	<span class="{{iconClassName}}" aria-hidden="{{iconHiddenToScreenReader}}"></span>
{{/if}}

{{#if fallback}}
	{{#if text}}
		<span class="{{fallbackTextClassName}}">
			{{text}}
		</span>
	{{/if}}
{{/if}}


{{yield}}
