{{#if icon}}
	{{#if svgEnabled}}
		<svg class="{{iconClassName}}">
			<use xlink:href="#{{namespace}}-{{icon}}"></use>
		</svg>
	{{else}}
		<span class="{{iconClassName}}" aria-hidden="{{iconHiddenToScreenReader}}"></span>
	{{/if}}
{{/if}}

{{#if fallback}}
	{{#if text}}
		<span class="{{fallbackTextClassName}}">
			{{text}}
		</span>
	{{/if}}
{{/if}}

{{yield}}
